.list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    &__item {
        width: 350px;
        height: 250px;
        padding: 20px 15px;
        box-sizing: border-box;
        flex-shrink: 0;
        margin: 20px;
        border-radius: 30px;
        overflow: hidden;
        position: relative;    
        background-size: cover;
        background-position: center;
        cursor: pointer;
        background-blend-mode: color-burn;

        @media screen and (max-width: 1023px) {
            width: 300px;
            margin: 10px;
        }

        &_dari {
            background: url('../img/nikolay.jpg'), rgba(47, 57, 60, 0.6);
            background-size: cover, 100%;
            background-position: center;
        }
        
        &_mol {
            background: url('../img/yaroslav.jpg'), rgba(47, 57, 60, 0.6);
            background-size: cover, 100%;
            background-position: center;
        }

        &_hol {
            background: url('../img/artem.jpg'), rgba(47, 57, 60, 0.6);
            background-size: cover, 100%;
            background-position: center;
        }

        &_bible {
            background: url('../img/ludmila.jpg'), rgba(47, 57, 60, 0.6);
            background-size: cover, 100%;
            background-position: center;
        }

        &_worship {
            background: url('../img/tanya.jpg'), rgba(47, 57, 60, 0.6);
            background-size: cover, 100%;
            background-position: center;
        }

        &_miricle {
            background: url('../img/katya.jpg'), rgba(47, 57, 60, 0.6);
            background-size: cover, 100%;
            background-position: center;
        }

        &_pro {
            background: url('../img/luda.jpg'), rgba(47, 57, 60, 0.6);
            background-size: cover, 100%;
            background-position: center;
        }

        &_search {
            background: url('../img/marina.jpg'), rgba(47, 57, 60, 0.6);
            background-size: cover, 100%;
            background-position: center;
        }
    }
}