

.choise {
  & .wrapper {
    padding: 0;
  }
  
  padding: 80px 0;

  @media screen and (max-width: 1023px) {
    padding: 50px 0;
  }

  @media screen and (max-width: 767px) {
    padding: 0;
  }
}

.list {
  width: 100%;

  &__item {
    padding: 0 15px ;
    background: linear-gradient(3deg,#4b3b1e,#261011);
    border-bottom: 2px solid #686565;
  } 

  &__top {
    position: relative;
  }

  &__arrow {
    position: absolute;
    top: calc(50% - 20px);
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;

    & span {
      width: 12px;
      height: 2px;
      background: #fff;
      display: block;
      position: absolute;
      top: calc(50% - 0);
      left: calc(50% - 11px);
      transform: rotate(34deg);

      &:nth-child(2) {
        transform: rotate(-34deg);
        left: calc(50% + -1px);
      }
    }

    &.show {
      & span {
        transform: rotate(-34deg);

        &:nth-child(2) {
          transform: rotate(34deg);
        }
      }
    }
  }

  &__title {
    padding: 20px 53px 20px 0;
    color: #fff;
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 1px;
  }

  &__wrapper {
    padding-bottom: 0;
    box-sizing: border-box;
    height: 0;
    overflow: hidden;

    &.show {
      height: auto;
      padding-bottom: 20px;
    }
  }

  &__img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px auto 0;
  }

  &__name {
    font-size: 24px;
    color: #fff;
    margin-top: 15px;
  }

  &__phone {
    font-size: 20px;
    color: #fff;
    display: inline-block;
    margin-top: 10px;
  }

  &__description {
    font-size: 20px;
    margin-top: 10px;
    color: #fff;
  }

  &__details {
    font-size: 22px;
    color: #fff;
    margin-top: 10px;
  }

  &__btn {
    width: 200px;
    padding: 20px;
    font-size: 23px;
    border-radius: 20px;
    font-weight: bold;
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.form {
  width: 400px;
  background-color: #53544f;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px 30px 30px 30px;
  display: none;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;

  &.show {
      display: flex;
  }

  &__close {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;

    & span {
      position: absolute;
      display: block;
      width: 25px;
      height: 2px;
      background: #fff;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      top: calc(50% - 1px);
      right: calc(50% - 13px);

      &:nth-child(2) {
        transform: rotate(-45deg);
      }
    }
  }

  &__input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 5px 15px;
    border: 2px solid #897a7a;
    margin-bottom: 25px;

    &.error {
        border: 2px solid #ff000f; 
    }
  }

  &__btn {
    padding: 15px 25px;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #977575;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
  }
}
